section.pomodoro
  header
    h1 = @task.name
    .countdown

- content_for :inline
  javascript:
    var end_timer = "#{(Time.now + 25.minutes).to_s(:timer)}";

- content_for :inline
  coffee:
    $ -> 
      $('.countdown').jCountdown 
        timeText: end_timer
        timeZone: -5
        style: "metal"
        color: "black"
        width: 0
        textGroupSpace: 15
        textSpace: 0
        reflection: false
        reflectionOpacity: 10
        reflectionBlur: 0
        dayTextNumber: 4
        displayDay: false
        displayHour: false
        displayMinute: true
        displaySecond: true
        displayLabel: true
        onFinish: ->
          alert("finish")
